{% extends 'base.html' %}
{% load static %}
{% block title %}newsletters{% endblock %}

{% block content %}
<div class="container-fluid mb-5 mt-1 mt-lg-5 py-2">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="mb-1">
            <h2 class="delete-header mb-1">
                Confirm deletion of newsletter?
            </h2>
            <hr class="mb-1">
        </div>
    </div>
    <form action="." method="POST">{% csrf_token %}
        <div class="col justify-content-center p-2">
            <div class="row justify-content-center">
                <h3 class=" delete-item-header text-center">{{ newsletter.title }}</h3>
                <p class="delete-txt text-center">Date: {{ newsletter.newsletter_date }}</p>
                <hr class="mb-1">
            </div>
            <div class="row justify-content-center">
                <hr class="mb-3">
                <div class="d-flex justify-content-center gap-5">
                    <a href="{% url 'newsletters' %}" class="btn" aria-label="returns to newsletters" rel="noopener">Cancel</a>
                    <input class="btn" type="submit" value="Confirm" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}