{% extends 'base.html' %}
{% load static %}
{% block title %}Personal Details{% endblock %}

{% block content %}
<div class="container-fluid mt-1 mb-5 mt-lg-5 p-4">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-1">
            <!--Header-->
            <h2 class="profile-header mb-1">
                Profile for {{user.username}} 
            </h2>
            <hr class="mb-1">
        </div>
    </div>
    <div class="row d-flex justify-content-evenly">
        <div class="col-12 col-md-6 d-flex justify-content-center my-1">
            <div class="container">
                <div>
                    <h2 class="profile-sub-header text-center py-1"> Your Details</h2>
                </div>
                <hr>
                <div class="profile-bg rounded p-4 m-0">
                    <div class="row">
                        <div class="col-6">
                            <p class="profile-txt">Full Name:</p>
                        </div>
                        <div class="col-6">
                            <p class="profile-txt">{{ user.profile.user }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="profile-txt">Billing/Delivery Address:</p>
                        </div>
                        <div class="col-6">
                            <p class="profile-txt my-0 p-0">{{ user.profile.street_address1 }}</p>
                            {% if user.profile.street_address2 %}
                            <p class="profile-txt my-0 p-0">{{ user.profile.street_address2 }}</p>
                            {% endif %}
                            <p class="profile-txt my-0 p-0">{{ user.profile.town_or_city }}</p>
                            {% if user.profile.county %}
                            <p class="profile-txt my-0 p-0">{{ user.profile.county }}</p>
                            {% endif %}
                            {% if user.profile.postcode %}
                            <p class="profile-txt my-0 p-0">{{ user.profile.postcode }}</p>
                            {% endif %}
                            <p class="profile-txt my-0 p-0">{{ user.profile.country }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <p class="profile-txt">Phone Number:</p>
                        </div>
                        <div class="col-6">
                            <p class="profile-txt">{{ user.profile.phone_number }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <div class="container">
                <div>
                    <h2 class="profile-sub-header text-center py-1">Details Update</h2>
                </div>
                <hr>
                <div class="profile-bg rounded p-4 m-0">
                    <div class="row">
                        <form class="mt-4 profile-txt" action="{% url 'personal_details' %}" method="POST" id="profile-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="row justify-content-center">
                                <button class="btn btn-profile rounded">Update Information</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}