{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container offset-md-1 text-center">
    <div class="container-fluid nav-bg pb-3 mb-5">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="view-headers mb-1">Thank You</h2>
                <h3 class="view-header-2">{{ order.full_name }}</h3>
                <p class="text-black">Your order confirmation has been email to <strong>{{ order.email }}</strong>.</p>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-8 box-shadow thank-you-box">
                <div class=" row p-2 ">
                    <div>
                        <h3 class="view-header-2 ">Order Info:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt ">
                        <p class="mb-2">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-2">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col thank-you-order my-3">
                        <p>Order Details:</p>
                    </div>
                </div>
                {% for item in order.itemlines.all %}
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0 ">
                            {{ item.book.title }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ item.quantity }} @ ${{ item.book.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col thank-you-order my-3">
                        <p>Delivering To:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  thank-you-txt">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">County</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Country</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-3 thank-you-order ">
                        <p>Billing Info:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">€{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">€{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-4 thank-you-txt">
                        <p class="mb-0 ">Overal total Total</p>
                    </div>
                    <div class="col-12 col-md-8 thank-you-txt">
                        <p class="mb-0">€{{ order.overal_total }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn-account">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
            {% else %}
            <a href="{% url 'books' %}" class="btn btn-sign-up">
                <span class="icon">
                    <i class="fas fa-arrow-left fa-md"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}