{% extends "base.html" %}
{% load static %}
{% load calc_tool%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container mt-1 mb-5 mt-lg-5 py-3">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-1">
            <!--Header-->
            <h2 class="confirmation-header mb-1">
                Oreder Confirmation
            </h2>
            <hr class="mb-1">
        </div>
    </div>
    <div class="container confirmation-bg">
        <div class="row p-0">
            <div class="col p-0">
                <hr>
                <h2 class="confirmation-header-2 mb-1 text-center">Thank You</h2>
                <h3 class="confirmation-name mb-1 text-center">{{ order.full_name }}</h3>
                <p class="confirmation-txt mb-1 text-center">Your order confirmation has been email to
                    <strong>{{ order.email }}</strong>.</p>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-12">
                <div class=" row p-2 ">
                    <h3 class="confirmation-header-order text-center">Order Info</h3>
                </div>
                <div class="row">
                    <p class="confirmation-txt-order mb-1 text-center">Order Number: {{ order.order_number }}</p>
                </div>
                <div class="row">
                    <p class="confirmation-txt-order mb-1 text-center">Order Date: {{ order.date }}</p>
                </div>
                <hr>
            </div>
            <div class="col-12">
                <div class="row p-2 ">
                    <h3 class="confirmation-header-order text-center">Order Details</h3>
                </div>
                <div class="row">
                    <p class="confirmation-txt-order mb-1 text-center">Order Number: {{ order.order_number }}</p>
                </div>
                <div class="row">
                    <p class="confirmation-txt-order mb-1 text-center">Order Date: {{ order.date }}</p>
                </div>
                <hr>
            </div>
            <div class="container col-12">
                <div class="row p-2 ">
                    <h3 class="confirmation-header-order text-center">Order Items</h3>
                </div>
                <table class="table table-striped confirmation-txt-order">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.lineitems.all %}
                        <tr>
                            <td scope="row">{{ item.book.title }}</td>
                            <td scope="row">{{ item.quantity }}</td>
                            <td scope="row">{% if item.book.condition == 'used' %}
                                €{{ item.book.price | calc_used_price}}
                                {% else %}
                                €{{ item.book.price }}
                                {% endif %}</td>
                            <td scope="row">{% if item.book.condition == 'used' %}
                                €{{ item.book.price | calc_subtotal_used:item.quantity }}
                                {% else %}
                                €{{ item.book.price | calc_subtotal:item.quantity }}
                                {% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
            </div>
            <div class="col-12">
                <div class="row p-2 ">
                    <h3 class="confirmation-header-order text-center">Delivery Details</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p class="confirmation-txt-order">Full Name:</p>
                    </div>
                    <div class="col-4">
                        <p class="confirmation-txt-order">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p class="confirmation-txt-order">Billing/Delivery Address:</p>
                    </div>
                    <div class="col-4">
                        <p class="confirmation-txt-order my-0 p-0">{{ order.street_address1 }}</p>
                        {% if order.street_address2 %}
                        <p class="confirmation-txt-order my-0 p-0">{{ order.street_address2 }}</p>
                        {% endif %}
                        <p class="confirmation-txt-order my-0 p-0">{{ order.town_or_city }}</p>
                        {% if order.county %}
                        <p class="confirmation-txt-order my-0 p-0">{{ order.county }}</p>
                        {% endif %}
                        {% if order.postcode %}
                        <p class="confirmation-txt-order my-0 p-0">{{ order.postcode }}</p>
                        {% endif %}
                        <p class="confirmation-txt-order my-0 p-0">{{ order.country }}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p class="confirmation-txt-order">Phone Number:</p>
                    </div>
                    <div class="col-4">
                        <p class="confirmation-txt-order">{{ order.phone_number }}</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-12">
                <div class="row p-2 ">
                    <h3 class="confirmation-header-order text-center">Billing Info</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p class="confirmation-txt-order">Order Total:</p>
                    </div>
                    <div class="col-4">
                        <p class="confirmation-txt-order my-0 p-0">€{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p class="confirmation-txt-order">Delivery Cost:</p>
                    </div>
                    <div class="col-4">
                        <p class="confirmation-txt-order my-0 p-0">€{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p class="confirmation-txt-order">Overal Total:</p>
                    </div>
                    <div class="col-4">
                        <p class="confirmation-txt-order my-0 p-0">€{{ order.overal_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-evenly my-3">
        {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-checkout" aria-label="Opens Profile" rel="noopener">
            <span class="icon mr-2">
                <i class="fas fa-angle-left"></i>
            </span>
            <span class="text-uppercase">Back to Profile</span>
        </a>
        {% else %}
        <a href="{% url 'books' %}" class="btn btn-checkout" aria-label="Opens all book view" rel="opener">
            <span class="icon">
                <i class="fas fa-arrow-left fa-md"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}