@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yatra+One&family=Zilla+Slab&display=swap');

:root {
    /* Fonts */
    --logo: 'Shadows Into Light', serif;
    --delivery: 'Yatra One', serif;
    --headers: 'Shadows Into Light', serif;
    --txt: 'Zilla Slab', serif, arial;

    /* Colours */
    --main-bg: #aaaaaa;
    --black-bg: #000000;
    --card-bg: #d3d0d0;
    --nav-footer: #504f4f;
    --side-nav: #ffffff;
    --red-tag: #fa0000;
    --red-hover: #ff0000;
    --black-txt: #000000;
    --white-txt: #ffffff;
    --clear: #ffffff00;
    --sort-hover: #9c9c9c;
}

body {
    background-color: var(--main-bg);
}

/* Custom webkit Browser Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 50%;
}

/* header */
.nav-bg {
    background-color: var(--nav-footer);
}

.nav-txt {
    color: var(--black-txt);
    font-family: var(--nav);
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
}

.nav-txt:hover {
    color: var(--red-hover);
}

.logo {
    font-family: var(--logo);
    font-size: 2.5rem;
    font-weight: 600;
}

.side-nav{
    border: none;
}

.side-nav-txt{
    font-size: 1rem;
}

.nav-menu-items {
	text-decoration: none;
    list-style: none;
    
}

.nav-menu {
	width: 100%;
    background-color: var(--black-bg);
}

.account-menu{
    min-width: 12rem;
}

/* Delivery Banner */
.delivery-banner {
    background-color: var(--black-bg);
    color: var(--white-txt);
    font-family: var(--delivery);
}

.delivery-txt {
    font-size: 1.5rem;

}

.red-tag{
    color: var(--red-tag);
}

/* footer */
footer {
    background-color: var(--nav-footer);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5rem;
}

footer a {
    padding-top: 10px;
}

footer a:hover {
    background-color: var(--red-hover);
    border-radius: 50%;
}

/* Buttons */

.close-btn{
    text-align: center;
    width: 2rem;
    padding: 2px;
    margin: 0;
}

.btn{
    font-family: var(--txt);
    color: var(--red-hover);
    font-size: 1.15rem;
    background-color: var(--black-bg);
    border: 2px solid var(--red-hover);
    font-weight: 400;
}

.btn:hover{
    background-color: var(--red-hover);
    border: 2px solid var(--black-bg);
    color: var(--black-txt);
}

/* Forms */

.qty-form{
    max-width: 45px;
}



/* hides arrows on number input types */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Generic */

.header-offset {
    margin-top: 125px;
}

.content-offset{
    margin-bottom: 60px;
}

.black-bg{
    background-color: var(--black-bg);
}

/* Home Page */

.home-bg{
    background: url(../images/home-image.webp) no-repeat center;
    height: 610px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
}


/* Media Queries*/
@media (max-width: 991px){
    .offcanvas-menu{
        max-width: 200px;
        margin-top: 100px;
        margin-bottom: 50px;
    }

}

@media (min-width: 992px){
    .content-offset{
        margin-top: 150px;
    }
}