{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 py-4 justify-content-center">
    <div class="detail-container justify-content-center mb-2 pt-2">
        <h1 class="home-header text-center"> Ruby's</h1>
    </div>
    <div class="detail-container justify-content-center mb-2">
        <div class="col">
            <h1 class="home-txt-lg text-center py-3"> 403 Forbidden</h1>
            <p class="home-txt-lg text-center py-3">You are not authorised to do the requested action!</p>
            <div class="text-center py-3">
                <a href="{% url 'home' %}" class="btn text-center">Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}