<!-- Nav bar Items large screens and up -->
<ul class="navbar-nav justify-content-evenly flex-grow-1 gap-2  d-none d-lg-flex">
    <!--Nave items-->
    <li class="nav-item">
        <a class="nav-link nav-txt" href="{% url 'home' %}" id="home-link"
            aria-label="Return to home page">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="" aria-label="View all books">
            All Books
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-txt" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </a>
        <ul class="dropdown-menu nav-bg p-2">
            <li class="nav-item">
                <a class="nav-link nav-txt my-0 py-0" href=""
                    id="all-books-link " aria-label="View childrens books">
                    Childrens
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-txt my-0 py-0" href=""
                    aria-label="View teen books">
                    Teen
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-txt my-0 py-0" href=""
                    aria-label="View adult books">
                    Adult
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-txt my-0 py-0" href=""
                    aria-label="View cooking books">
                    Cooking
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View biographies books">
                    Biographies
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View technology books">
                    Technology
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View health books">
                    Health
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View business books">
                    Business
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View home and garden books">
                    Home & Garden
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View science books">
                    Science
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View history books">
                    History
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View music books">
                    Music
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View sport books">
                    Sport
                </a>
            </li>
            <li class="nav-item">
                <a class=" nav-link nav-txt my-0 py-0" href=""
                    aria-label="View poetry books">
                    Poetry
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href=""
            aria-label="View about our company">
            About
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href=""
            aria-label="go to contact us page">
            Contact
        </a>
    </li>
</ul>
<!-- Nav bar Items for offcanvas side menu -->
<ul class="navbar-nav justify-content-evenly flex-grow-1 d-block d-lg-none">
    <!--Nave items-->
    <li class="nav-item m-0 mb-1 p-0">
        <a class="nav-link nav-txt side-nav-txt m-0 p-0" href="{% url 'home' %}" id="home-link"
            aria-label="Return to home page">
            Home
        </a>
    </li>
    <li class="nav-item  m-0 mb-1 p-0">
        <a class="nav-link nav-txt side-nav-txt m-0 p-0" href="" aria-label="View all books">
            All Books
        </a>
    </li>
    <li class="nav-item dropdown m-0 p-0">
        <a class="nav-link dropdown-toggle nav-txt side-nav-txt m-0 mb-1 p-0" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </a>
        <ul class="dropdown-menu nav-bg side-nav">
            <li class="nav-item m-0 mb-1 p-0">
                <a class="nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    id="all-books-link " aria-label="View childrens books">
                    Childrens
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class="nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View teen books">
                    Teen
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class="nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View adult books">
                    Adult
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class="nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View cooking books">
                    Cooking
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View biographies books">
                    Biographies
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View technology books">
                    Technology
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View health books">
                    Health
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View business books">
                    Business
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View home and garden books">
                    Home & Garden
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View science books">
                    Science
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View history books">
                    History
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View music books">
                    Music
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View sport books">
                    Sport
                </a>
            </li>
            <li class="nav-item m-0 mb-1 p-0">
                <a class=" nav-link nav-txt side-nav-txt m-0 p-0" href=""
                    aria-label="View poetry books">
                    Poetry
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item m-0 mb-1 p-0">
        <a class="nav-link nav-txt side-nav-txt m-0 p-0" href=""
            aria-label="View about our company">
            About
        </a>
    </li>
    <li class="nav-item m-0 mb-1 p-0">
        <a class="nav-link nav-txt side-nav-txt m-0 p-0" href=""
            aria-label="go to contact us page">
            Contact
        </a>
    </li>
</ul>