<!-- Nav bar Items large screens and up -->
<ul class="navbar-nav justify-content-evenly flex-grow-1 d-none d-lg-flex">
    <!--Nave items-->
    <li class="nav-item">
        <a class="nav-link nav-txt" href="{% url 'home' %}" aria-label="Return to home page" rel="opener">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="{% url 'books' %}" aria-label="View all books" rel="opener">
            All Books
        </a>
    </li>
    <li class="nav-item dropcenter">
        <a class="nav-link nav-txt dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">
            Non-Fiction
        </a>
        <div class="dropdown-menu nav-menu row justify-content-center">
            <div class="container row justify-content-center nav-bg py-3">
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="{% url 'books' %}?genre=art"
                                aria-label="View Art books" rel="opener">
                                Art
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=biography" aria-label="View Biography books" rel="opener">
                                Biography
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=business_finance"
                                aria-label="View Business & Finance books" rel="opener">
                                Business & Finance
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=climate_sustainability"
                                aria-label="View Climate & Sustainability books" rel="opener">
                                Climate & Sustainability
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=cookbooks" aria-label="View Cookbook books" rel="opener">
                                Cookbooks
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=fashion" aria-label="View Fashion books" rel="opener">
                                Fashion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=health_wellbeing"
                                aria-label="View Health & Wellbeing books" rel="opener">
                                Health & Wellbeing
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=history" aria-label="View History books" rel="opener">
                                History
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=home_gardening" aria-label="View Home & Gardening books"
                                rel="opener">
                                Home & Gardening
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=language_dictionaries"
                                aria-label="View Language & Dictionaries books" rel="opener">
                                Language & Dictionaries
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=medical" aria-label="View Medical books" rel="opener">
                                Medical
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="{% url 'books' %}?genre=music"
                                aria-label="View Music books" rel="opener">
                                Music
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="{% url 'books' %}?genre=nature"
                                aria-label="View Nature books" rel="opener">
                                Nature
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=parenting" aria-label="View Parenting books" rel="opener">
                                Parenting
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=philosophy" aria-label="View Philosophy books"
                                rel="opener">
                                Philosophy
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=photography" aria-label="View Photography books"
                                rel="opener">
                                Photography
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=science" aria-label="View Science books" rel="opener">
                                Science
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="{% url 'books' %}?genre=sport"
                                aria-label="View Sport books" rel="opener">
                                Sport
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=technology" aria-label="View Technology books"
                                rel="opener">
                                Technology
                            </a>
                        </li>
                        <li class="nav-item  m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=true_crime" aria-label="View True Crime books"
                                rel="opener">
                                True Crime
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=other_Non-Fiction"
                                aria-label="View Other Non-Fiction books" rel="opener">
                                Other Non-Fiction
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropcenter">
        <a class="nav-link nav-txt dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">
            Fiction
        </a>
        <div class="dropdown-menu nav-menu row justify-content-center">
            <div class="container row justify-content-center nav-bg py-3">
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=adventure" aria-label="View Adventure books" rel="opener">
                                Adventure
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=biographical" aria-label="View Biographical books"
                                rel="opener">
                                Biographical
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=crime_mystery" aria-label="View Crime & Mystery books"
                                rel="opener">
                                Crime & Mystery
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="{% url 'books' %}?genre=erotic"
                                aria-label="View Erotic books" rel="opener">
                                Erotic
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=fantasy" aria-label="View Fantasy books" rel="opener">
                                Fantasy
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=general_literary"
                                aria-label="View General & Literary books" rel="opener">
                                General & Literary
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=generational_sagas"
                                aria-label="View Generational Sagas books" rel="opener">
                                Generational Sagas
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=historical" aria-label="View Historical books"
                                rel="opener">
                                Historical
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=horror_supernatural"
                                aria-label="View Horror & Supernatural books" rel="opener">
                                Horror & Supernatural
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=humorous" aria-label="View Humorous books" rel="opener">
                                Humorous
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=myths_fairy_tales"
                                aria-label="View Myths & Fairy Tales books" rel="opener">
                                Myths & Fairy Tales
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=romance" aria-label="View romance books" rel="opener">
                                Romance
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=science_fiction" aria-label="View Science books"
                                rel="opener">
                                Science Fiction
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=speculative" aria-label="View Speculative books"
                                rel="opener">
                                Speculative
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=sport_fiction" aria-label="View Sports books"
                                rel="opener">
                                Sport Fiction
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=teen_young_adult"
                                aria-label="View Teen & Young Adult Fiction books" rel="opener">
                                Teen & Young Adult
                            </a>
                        </li>
                        <li class="nav-item  m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=thriller" aria-label="View Thriller books" rel="opener">
                                Thriller
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=other_fiction" aria-label="View Other Fiction books"
                                rel="opener">
                                Other Fiction
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropcenter">
        <a class="nav-link nav-txt dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">
            Childrens Books
        </a>
        <div class="dropdown-menu nav-menu row justify-content-center">
            <div class="container row justify-content-center nav-bg py-3">
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=childrens_0_to_4" aria-label="View childrens books 0 to 4"
                                rel="opener">
                                Childrens 0 to 4
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=childrens_5_to_8" aria-label="View childrens books 5 to 8"
                                rel="opener">
                                Childrens 5 to 8
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=childrens_9" aria-label="View childrens books 9+"
                                rel="opener">
                                Childrens 9+
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1"
                                href="{% url 'books' %}?genre=childrens_other" aria-label="View other childrens books"
                                rel="opener">
                                Childrens Other
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="{% url 'books' %}?condition=used" aria-label="View sale books" rel="opener">
            Sale
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="{% url 'about' %}" aria-label="View you account" rel="opener">
            About
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="{% url 'contact' %}" aria-label="go to contact us page" rel="opener">
            Contact
        </a>
    </li>
    {% if request.user.is_superuser %}
    <li class="nav-item dropcenter">
        <a class="nav-link nav-txt dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false" rel="opener">
            Newsletters
        </a>
        <div class="dropdown-menu nav-menu row justify-content-center">
            <div class="container row justify-content-center nav-bg py-3">
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="{% url 'newsletters' %}"
                                aria-label="View newsletters" rel="noopener">
                                Newsletters
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="{% url 'new_newsletter' %}"
                                aria-label="create a new newsletter" rel="noopener">
                                New Newletter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    {% endif %}
</ul>