<!-- Nav bar Items large screens and up -->
    
<ul class="navbar-nav justify-content-evenly flex-grow-1 d-none d-lg-flex">
    <!--Nave items-->
    <li class="nav-item">
        <a class="nav-link nav-txt" href="{% url 'home' %}" id="home-link" aria-label="Return to home page">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="" aria-label="View all books">
            All Books
        </a>
    </li>
    <li class="nav-item dropcenter">
        <a class="nav-link nav-txt dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Non-Fiction
        </a>
        <div class="dropdown-menu nav-menu row justify-content-center">
            <div class="container row justify-content-center nav-bg py-3">
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Art books">
                                Art
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Biography books">
                                Biography
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Business & Finance books">
                                Business & Finance
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href=""
                            aria-label="View Climate & Sustainability books">
                            Climate & Sustainability
                        </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Cookbook books">
                                Cookbooks
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Fashion books">
                                Fashion
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Health & Wellbeing books">
                                Health & Wellbeing
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Home & Gardening books">
                                Home & Gardening
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href=""
                            aria-label="View Language & Dictionaries books">
                            Language & Dictionaries
                        </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Medical books">
                                Medical
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Music books">
                                Music
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Nature books">
                                Nature
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Parenting books">
                                Parenting
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Philosophy books">
                                Philosophy
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Photography books">
                                Photography
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Science books">
                                Science
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Sport books">
                                Sport
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Technology books">
                                Technology
                            </a>
                        </li>
                        <li class="nav-item  m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View True Crime books">
                                True Crime
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Other Non-Fiction books">
                                Other Non-Fiction
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropcenter">
        <a class="nav-link nav-txt dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Fiction
        </a>
        <div class="dropdown-menu nav-menu row justify-content-center">
            <div class="container row justify-content-center nav-bg py-3">
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Adventure books">
                                Adventure
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Biographical books">
                                Biographical
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Crime & Mystery books">
                                Crime & Mystery
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Erotic books">
                                Erotic
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Fantasy books">
                                Fantasy
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" aria-label="View General & Literary books">
                                General & Literary
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Generational Sagas books">
                                Generational Sagas
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Historical books">
                                Historical
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Horror & Supernatural books">
                                Horror & Supernatural
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Humorous books">
                                Humorous
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Myths & Fairy Tales books">
                                Myths & Fairy Tales
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View romance books">
                                romance
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Science books">
                                Science
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Speculative books">
                                Speculative
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Sports books">
                                Sports
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Teen & Young Adult Fiction books">
                                Teen & Young Adult
                            </a>
                        </li>
                        <li class="nav-item  m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Thriller books">
                                Thriller
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View Other Fiction books">
                                Other Fiction
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropcenter">
        <a class="nav-link nav-txt dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Childrens Books
        </a>
        <div class="dropdown-menu nav-menu row justify-content-center">
            <div class="container row justify-content-center nav-bg py-3">
                <div class="col-3 col-xl-2 px-0 mx-0">
                    <ul class="nav-menu-items">
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" id="all-books-link "
                                aria-label="View childrens books 0 to 4">
                                Childrens 0 to 4
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View childrens books 5 to 8">
                                Childrens 5 to 8
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View childrens books 9+">
                                Childrens 9+
                            </a>
                        </li>
                        <li class="nav-item m-0 p-0">
                            <a class="nav-link nav-txt small-nav-txt m-0 p-0 pb-1" href="" aria-label="View other childrens books">
                                Childrens Other
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="" aria-label="View you account">
            About
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" href="" aria-label="go to contact us page">
            Contact
        </a>
    </li>
</ul>
