{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container text-center mt-5 py-5">
  <h1 class="login-header mb-4">{% trans "Sign In" %}</h1>


  <p class="login-txt">{% blocktrans %}If you do have an account with us. <br> You can created an account by following the sign up link below.{% endblocktrans %}</p>
  
  <div class="d-flex justify-content-center">
    <form class="login-txt p-4 my-2" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="d-flex justify-content-center gap-4">
        <button class="btn rounded" type="submit">{% trans "Sign In" %}</button>
        <a class="btn rounded" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
      </div>
    </form>
  </div>



</div>
{% endblock %}
