{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container text-center mt-5 py-5">
    <h1 class="login-header mb-4">{% trans "Change Password" %}</h1>

    <form class="p-4 my-2 login-txt" method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center gap-4">
            <button class="btn rounded" type="submit" name="action">{% trans "Change Password" %}</button>
            <a class="btn rounded" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>    
        </div>
    </form>
</div>

{% endblock %}
