{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container text-center bg-fade mt-5 py-3 rounded">
    <form method="POST" action="{% url 'account_set_password' %}" class="login p-4 my-2 login-txt">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
    <h1 class="account-login">{% trans "Set Password" %}</h1>


{% endblock %}
