{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container text-center bg-fade mt-5 py-3 rounded">
        <h1 class="account-login mb-4">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
    
        <p class="login-txt">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="sign-up p-2 my-1 login-txt">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    
        <a class="btn btn-sign-up rounded" href="{% url 'account_login' %}">{% trans "Cancel" %}</a>
        <p class="login-txt">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
    
{% endblock %}
