
/*Books */

.book-bg {
    background-color: var(--black-bg);
    width: 21rem;
    height: 16rem;
}

.book-card{
    width: 20rem;
    height: 15rem;
    background-color: var(--card-bg);
}

.book-card-body {
    width: 13rem;
    height: 10rem;
}

.book-card-img {
    width: 6.5rem;
    height: 10rem;
}

.card-img {
    border: 2px solid var(--black-bg);
    width: 6.5rem;
    height: 10rem;
}

.book-card-title{
    height: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.book-card-title,
.book-card-txt {
    font-family: var(--txt);
    color: var(--black-txt);
}

.book-card-txt {
    font-weight: 400;
    font-size: 1rem;
}

.rating-txt{
    font-family: var(--txt);
    color: var(--black-txt);
    text-decoration: none;
}

.rating-txt:hover{
    color: var(--red-hover);
}

.rating {
    color: var(--red-tag);
    padding-right: 5px;
}

.view-sale-tag{
    color: var(--red-tag);
}

/* Sorting menu */

.sort-btn {
    color: var(--black-txt);
    border: none;
    background-color: var(--clear);
    text-decoration: none;
}

.sort-btn:hover {
    color: var(--red-hover);
    background-color: var(--sort-hover);
}

.sort-txt{
    font-family: var(--txt);
    color: var(--black-txt);
    text-decoration: none;
    
}

/* Single View*/

.view-header,
.view-section-header{
    font-family: var(--headers);
    color: var(--black-txt);
    font-weight: 600;
}

.view-header{
    font-size: 3.5rem;
}

.view-section-header{
    font-size: 2.5rem;
}

.view-price-txt{
    font-size: 1.25rem;
}

.view-txt{
    font-size: 1.05rem;
}

.view-price-txt,
.view-txt{
    font-family: var(--txt);
    color: var(--black-txt);
    font-weight: 400;
}

.external-link-txt{
    text-decoration: none;
    font-size: 1.10rem;
}

.view-bg{
    background-color: var(--card-bg);
}

/* Add Books */

.add-header{
    font-family: var(--headers);
    color: var(--black-txt);
    font-weight: 600;
    font-size: 3.5rem;
}

/* Edit Books */

.form-border{
    border: 2px solid var(--black-bg);
}

.form-control{
    border: 2px solid var(--black-bg);
    font-family: var(--txt);
    color: var(--black-txt);
    font-size: 1.15rem;
}

.edit-header,
.edit-item-header{
    font-family: var(--headers);
    color: var(--black-txt);
    font-weight: 600;
}

.edit-header{
    font-size: 3.5rem;
}

.edit-item-header{
    font-size: 2.5rem;
}

/* Delete book */

.delete-item-header,
.delete-header {
    font-family: var(--headers);
    color: var(--black-txt);
}

.delete-header {
    font-weight: 600;
    font-size: 3rem;
}

.delete-item-header{
    font-weight: 400;
    font-size: 2.5rem;
}

.delete-txt{
    font-family: var(--txt);
    color: var(--black-txt);
    font-weight: 400;
    font-size: 1.75rem;
}

.delete-img{
    max-height: 26rem;
    max-width: 20rem;
}

/* Book Management */

.manage-img {
    width: 2.5rem;
    height: 4rem;
}

.manage-txt {
    font-family: var(--txt);
    color: var(--black-txt);
}

.manage-header {
    font-size: 4rem;
    font-family: var(--headers);
}

.manage-header-2 {
    font-size: 2.5rem;
    font-family: var(--headers);
}

.book-list {
    max-height: 600px;
    overflow-y: scroll;
}

