/*Books */

.book-bg {
    background-color: var(--black-bg);
    width: 21rem;
    height: 16rem;
}

.book-card{
    width: 20rem;
    height: 15rem;
    background-color: var(--card-bg);
}

.book-card-body {
    width: 13rem;
    height: 10rem;
}

.book-card-img {
    width: 6.5rem;
    height: 10rem;
}

.card-img {
    border: 2px solid var(--black-bg);
    width: 6.5rem;
    height: 10rem;
}

.book-card-title{
    height: 3rem;
}

.book-card-txt {
    font-family: var(--txt);
    color: var(--black-txt);
    font-weight: 400;
    font-size: 1.05rem;
}

.rating-txt{
    font-family: var(--txt);
    color: var(--black-txt);
    text-decoration: none;
}

.rating-txt:hover{
    color: var(--red-hover);
}

.rating {
    color: var(--red-tag);
    padding-right: 5px;
}

.view-sale-tag{
    color: var(--red-tag);
}

/* Sorting menu */

.sort-btn {
    color: var(--black-txt);
    border: none;
    background-color: var(--clear);
    text-decoration: none;
}

.sort-btn:hover {
    color: var(--red-hover);
    background-color: var(--sort-hover);
}

.sort-txt{
    font-family: var(--txt);
    color: var(--black-txt);
    text-decoration: none;
    
}

/* Single View*/

.view-price-txt{
    font-size: 1.25rem;
}

.view-price-txt,
.view-txt{
    font-family: var(--txt);
    color: var(--black-txt);
    font-weight: 400;
}

.view-txt{
    font-size: 1.05rem;
}

.view-bg{
    background-color: var(--card-bg);
}
