{% extends 'base.html' %}
{% load static %}
{% block title %}Book Management{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/books.css' %}">
{% endblock %}

{% block content %}
<div class="container rounded text-center mb-5 mt-1 mt-lg-5 py-4 ">
    <div class="container-fluid pb-3">
        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <hr class="mb-1">
                <h2 class="manage-header my-3 pb-3">Book Management</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row d-flex justify-content-center d-block d-lg-none pt-2">
            <div>
                <a class="btn rounded" href="{% url 'add_book' %}" aria-label="Add new book" rel="noopener">Add New
                    Book</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-lg-8 d-flex justify-content-center">
                <h2 class="manage-header-2 text-center pt-3">Book list</h2>
            </div>
            <div class="col-12 col-lg-8 d-flex justify-content-center justify-content-md-end mb-1">
                <div class="container rounded py-3 my-1 ">
                    <!--Search Bar For Mobile View-->
                    <form method="GET" action="">
                        <div class="input-group">
                            <input class="form-control search-form rounded" type="text" name="q"
                                placeholder="Search our site">
                            <div class="ps-2">
                                <button class="btn nav-txt" type="submit">
                                    <span>
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="pt-3">
                        <a href="{% url 'book_management' %}" class="sort-btn"
                            aria-label="rest sorting filters" rel="noopener">Reset</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center m-0 p-0">
            <div class="col-12 col-lg-8 book-list p-3 pt-1 book-management-bg">
                {% for book in books %}
                <div class="container-fluid row text-center pt-2">
                    <div class="col-2 col-sm-1 p-0 m-0 ">
                        {% if book.image %}
                        <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}" rel="opener">
                            <img class="manage-img" src="{{ book.image.url }}" alt="{{ book.title }}">
                        </a>
                        {% else %}
                        <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}" rel="opener">
                            <img class="manage-img mb-4 pb-3" src="{{ MEDIA_URL }}no-image.png" alt="{{ book.title }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-10 col-sm-5 py-0 px-2 m-0">
                        <p class="manage-txt">Title: {{ book.title }} {%if book.condition == 'used'%}<i
                                class="fa-solid fa-tag fa-beat" style="color: #fa0000;"></i>{%endif%}</p>
                    </div>
                    <div class="col-8 col-sm-4 py-0 px-2 m-0">
                        <p class="manage-txt">Author: {{ book.author }}</p>
                    </div>
                    <div class="col-4 col-sm-2 py-0 px-2 m-0">
                        <small>
                            <!--edit button-->
                            <a href="{% url 'edit_book' book.id %}" aria-label="Edit {{ book.title }}" rel="noopener">Edit</a> |
                            <!--delete button-->
                            <a class="text-danger" href="{% url 'book_delete' book.id %}"
                                aria-label="Delete {{ book.title }}" rel="noopener">Delete</a>
                        </small>
                    </div>
                    <hr class="my-1">
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-4 d-none d-lg-flex justify-content-center">
                <div class="row p-2 mt-lg-2 ms-lg-1">
                    <div>
                        <a class="btn rounded" href="{% url 'add_book' %}" aria-label="Add new book" rel="noopener">Add New
                            Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--Post load js-->
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'books/js/books.js' %}"></script>
{% endblock %}