{% extends 'base.html' %}
{% load static %}
{% block title %}Books{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/books.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 py-2">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="mb-1">
            <!--Headers and adds Category name to beginning when they are selected-->
            <h2 class="view-header mb-1">
                {% for g in sorted_genres %}{{ g.view_genre }}{% endfor %} Books
            </h2>
            <hr class="mb-1">
        </div>
    </div>
    <!--Sorting-->
    {%include 'includes/sort.html'%}
    <!--Books-->
    <div class="mt-3">
        <div class="container-fluid d-flex flex-row flex-wrap gap-1 gap-lg-2 justify-content-center m-0 p-0">
            <!-- searches through books rendering each one individually as small cards-->
            {% for book in books %}
            <div class="book-bg d-flex flex-wrap justify-content-center p-2 rounded">
                <div class="row book-card justify-content-center p-0 rounded">
                    <div class="position-relative p-0 m-0">
                        <div class="position-absolute top-0 end-0 p-1 m-0">
                            {%if book.condition == 'used'%} <i class="fa-solid fa-tag fa-beat fa-lg view-sale-tag">
                            </i>{%endif%}
                        </div>
                    </div>
                    <div class="row book-card-txt p-0 m-0">
                        <p class="my-0 py-0 px-3 text-center book-card-title">{{ book.title }}</p>
                    </div>
                    <hr class="mb-1">
                    <div class="col-4 book-card-img m-0 py-0 px-1">
                        {% if book.image %}
                        <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                            <img class="card-img" src="{{ book.image.url }}" alt="{{ book.title }}">
                        </a>
                        {% else %}
                        <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                            <img class="card-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ book.title }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-5 book-card-body text-center m-0 p-0">
                        <p class="mb-1 book-card-txt"><strong>€{{ book.price }}</strong></p>
                        {% if book.genre %}
                        <p class="book-card-txt my-1
                        ">Category: {{ book.category|title}}</p>
                        <p class="small my-1">
                            <a class="text-muted book-card-txt" href="{% url 'books' %}?genre={{ book.genre }}">
                                {{ book.genre.view_genre }}
                            </a>
                        </p>
                        {% endif %}
                        <p class="book-card-txt my-1">By: <strong>{{ book.author }}</strong></p>
                        {% if book.rating %}
                        <small class="text-muted my-1 rating-txt"><i
                                class="fas fa-star mr-1 rating"></i>{{ book.rating }} /
                            5</small>
                        {% else %}
                        <small class="text-muted my-1">No Rating</small>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <div class="row my-1">
                            <small>
                                <!--edit button-->
                                <a href="{% url 'edit_book' book.id %}" aria-label="Edit {{ book.title }}">Edit</a> |
                                <!--delete button-->
                                <a class="text-danger" href="{% url 'book_delete' book.id %}" aria-label="Delete {{ book.title }}">Delete</a>
                            </small>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

<!--Post load js-->
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'books/js/books.js' %}"></script>
{% endblock %}