{% extends "base.html" %}
{% load static %}
{% block title %}Edit {{ book.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/books.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="headers text-center pt-3 edit-header">Editing</h2>
            <hr>
            <h3 class="edit-header text-center pt-3 edit-item-header">Editing: {{ book.title }}</h3>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center pb-5 m-0">
        <div class="row rounded form-border view-bg p-0">
            <form method="POST" action="{% url 'edit_book' book.id %}" class="form mb-2 p-0" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container-fluid row p-0 ps-4 pt-4">
                    <div class="col-12 col-sm-6 col-lg-3">
                        {{ form.title|as_crispy_field }}
                        {{ form.author|as_crispy_field }}
                        {{ form.condition|as_crispy_field }}
                        {{ form.category|as_crispy_field }}
                        {{ form.genre|as_crispy_field }}
                        {{ form.ISBN|as_crispy_field }}
                        {{ form.sku|as_crispy_field }}
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        {{ form.price|as_crispy_field }}
                        {{ form.link|as_crispy_field }}
                        {{ form.pages|as_crispy_field }}
                        {{ form.language|as_crispy_field }}
                        {{ form.first_published|as_crispy_field }}
                        {{ form.this_publication_date|as_crispy_field }}
                        {{ form.rating|as_crispy_field }}
                    </div>
                    <div class="col-12 col-lg-6">
                        {{ form.description|as_crispy_field}}
                        {% for field in form %}
                        {% if field.name == 'image' %}
                        {{field}}
                        {% endif %}
                        {%endfor%}
                    </div>
                </div>
                <div class="d-flex justify-content-center gap-4">
                    <a class="btn btn-cancel rounded" href="{% url 'books' %}">Cancel</a>
                    <button class="btn btn-update rounded " type="submit">Update Book</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#image').change(function () {
        var file = $('#image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}