/* Checkout Page */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--card-bg);
    font-family: var(--txt);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 var(--red-tag);
}

.StripeElement--webkit-autofill {
    background-color: var(--card-bg) !important;
}

.stripe-style-input::placeholder {
    color: var(--main-bg);
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: var(--black-txt);
    border: 1px solid var(--black-bg);
}

select,
select option {
    color: var(--black-txt);
}

select:invalid,
select option[value=""] {
    color: var(--main-bg) !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}


.checkout-img {
    height: 5rem;
    width: 3rem;
}

.checkout-txt {
    font-family: var(--txt);
    font-size: 1rem;
    text-align: left;
}

.checkout-header{
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--headers);
    color: var(--black-txt)
}

.checkout-top-header{
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--headers);
    color: var(--black-txt)
}

/* Confirmation Page */
.confirmation-bg{
    border: 2px solid var(--black-bg);
    background-color: var(--card-bg);
}

.confirmation-header{
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--headers);
    color: var(--black-txt)
}

.confirmation-header-2{
    font-size: 2.25rem;
    font-family: var(--headers);
    color: var(--black-txt)
}

.confirmation-header-order,
.confirmation-name{
    font-size: 1.5rem;
    font-family: var(--txt);
    color: var(--black-txt)
}

.confirmation-txt-order,
.confirmation-txt{
    font-size: 1.25rem;
    font-family: var(--txt);
    color: var(--black-txt)
}

.confirmation-txt-order{
    font-size: 1rem;
}


.thank-you-txt {
    font-family: var(--txt);
    color: var(--black-txt)
}


.thank-you-box {
    max-width: 600px;
}

.thank-you-txt {
    font-size: 1rem;
    text-align: center;
}

.thank-you-order {
    font-size: 1.2rem;
}
