{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="container mt-1 mb-5 mt-lg-5 py-2">
        <hr>
        <h1 class="about-headers text-center pt-2">About Us</h1>
        <hr>
        <div class="text-center  my-sm-3 mx-sm-5 py-sm-3 px-sm-5">
            <p class="about-txt mb-0 pb-1">
                <strong>Welcome to Ruby's.ie</strong> - the online bookstore Ballybunion, Ireland.
            </p>
            <br>
            <p class="about-txt mb-0 pb-1">
                Ruby's online bookshop is a new business and hopes to bring joy to all you book lovers.
            </p>
            <p class="about-txt mb-0 pb-1">
                On Rubys.ie you’ll find a <strong>good variety</strong> of books from everything from the latest
                releases
                and bestsellers, to secondhand paperbacks.<br>There are books in every genre such as children’s books,
                cookbooks, history, fiction, non-fiction and much more.
            </p>
            <br>
            <p class="about-txt mb-0 pb-1">
                We offer <strong>free delivery on orders over €{{ free_delivery }} otherwise €{{ standard_delivery }} postage applies within Ireland.</strong>
            </p>
            <br>
            <p class="about-txt mb-0 pb-1">
                Our bookshop is solely online but based in Ballybunion, Ireland <br> Orders are processed Monday to
                Saturday, 09:00 - 17:00 and shipped within 2 days of order being placed <br> <strong>(please allow 3
                    days for orders placed after 2pm on Saturdays)</strong>.
            </p>
            <br>
            <p class="about-txt mb-0 pb-3">
                Enjoy using Rubys.ie and please feel free to contact us by email anytime with any book related
                query and recomendations,<br><strong>we'd be delighted to help</strong>.
            </p>
            <br>
            <p class="about-txt mb-0 pb-1">
                <strong>Thank you for visiting Rubys.ie.</strong>
            </p>
        </div>
    </div>
{% endblock %}