<div id="my-alert">
    <div class="row d-flex justify-content-end p-0 m-0">
        <!--closes messages-->
        <button type="button" class="btn close-message-btn p-0 m-0" data-bs-dismiss="alert" data-bs-target="#my-alert"
        aria-label="Close"><i class="fa-solid fa-x fa-xs p-0 m-0"></i></button>
    </div>
    <div class="w-100 toast-capper bg-info mt-2"></div>
    <div class="row pt-2">
        <p class=" text-center toast-message-txt"> {{ message }}</p>
    </div>
    <div class="w-100 toast-capper bg-info"></div>
</div>
