<div class="message-bg p-2" id="my-alert">
    <div class="row d-flex justify-content-end">
        <!--closes messages-->
        <button type="button" class="btn close-message-btn p-0 my-0 mx-2" data-bs-dismiss="alert" data-bs-target="#my-alert"
        aria-label="Close"><i class="fa-solid fa-x fa-xs p-0 m-0"></i></button>
    </div>
    <div class="w-100 toast-capper bg-warning mt-2"></div>
    <div class="row pt-2">
        <p class=" text-center toast-message-txt px-2"> {{ message }}</p>
    </div>
    <div class="w-100 toast-capper bg-warning"></div>
</div>